@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100dvh;
  font-family: "Inter", "SF Pro Text", "Segoe UI", sans-serif;
  overscroll-behavior: none;
  touch-action: manipulation;
}
